{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
